body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

/* Стили для обеих кнопок */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;  /* Добавляем отступ между кнопками */
}

button:hover {
    background-color: #45a049;
}

/* Стиль для отключенной кнопки */
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Стили для контейнера с фото */
#photoContainer {
    margin-top: 30px;
    display: none;  /* Скрыто по умолчанию */
}

#myPhoto {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}